# Visual Studio cache and build
.vs/
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# Logs and temporary files
*.log
*.tlog
*.cache
*.tmp
*.bak
*.pdb

# VS Code and IDEs
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Others
*.dbmdl
*.dbproj.schemaview
